<div>
    <h1>Quotes</h1>
    <hr>
      <div>
            <div *ngFor='let quote of quotes;let i=index'>
                  <li>{{quote.name}}</li>
                  <div>
                        <button (click)='toggleDetails(i)'>Show detail</button>
                  </div>       
                  
                  <div>
                        <app-quote-detail *ngIf='quote.showDescription' [quote]='quote'></app-quote-detail>
                  </div>
                  <div>
                        <p><app-votes></app-votes></p>
                  </div>
            </div>
            

      <div>
            
            
      
</div>

