.container-fluid{
    background-image: url("https://images.wallpaperscraft.com/image/letters_pens_pen_desk_80588_1280x1024.jpg");
    background-size: cover;
    width: 100%;

}
#quo{
    padding-left: 200px;
}
#from{
    padding-left: 200px;
}
#Q{
    text-align: center;

}
#some{
    padding-left: 280px; 
}






