<div class="container">
    <h2>New quote </h2>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' >
        <div class="form-group">
            <label>Quotes</label>
            <textarea rows="5"  id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel"></textarea>
            <label>Name</label>
            <!-- <textarea ></textarea> -->
            <div>
                <label for complete>Post date</label>
                <input type="date" id="complete">
            </div>

        </div>
    </form>
    <button type="submit">submit</button>
</div>




